.header {
    text-align: center;
    font-size: 50px;
}

.headerA {
    text-decoration: none;
    color: black;
}

li{
    margin: 10px 0;
    list-style-type: none;
}

.result {
    display: flex;
    flex-direction: row;
}

.button {
    text-align: center;
}
input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
}

